*.o
*.x
*.a
*.so
*.root
*Dict.cpp
*Dict.h
*dict.cc
*dict.h
*~
*.log
*.kate-swp
*.kdev*
*.exe
*.json
*.xml
*.lut

# CMake specific files
CMakeFiles
CMakeCache.txt
cmake_install.cmake
.ninja_*
*.ninja
Makefile
MakeFile

# output files
/*Test
/*.so
/*.dylib
/*.cbp

*.1

*.hld

FrameworkExample

ScopeLoaderExample/cfg/data/1/

LargeBarrelExample

build/

unitTestData/*
AnalysisExample/*.root.old
CalibrationFiles/*
LargeBarrelAnalysisExtended/*.txt
!LargeBarrelAnalysisExtended/CMakeLists.txt
ScopeLoaderExample/cfg/
LargeBarrelAnalysis/dummyCalibration.txt
modules/large_barrel/findFFTW-download/*
