*~
*.o
*.x
*.a
*.so
*.root
*Dict.cpp
*Dict.h
*dict.cc
*dict.h
*.log
*.json
*.kate-swp
*.kdev*
*.exe

# CMake specific files
CMakeFiles
CMakeCache.txt
cmake_install.cmake
.ninja_*
*.ninja
Makefile
MakeFile

# output files
/*Test
/*.so
/*.dylib
/*.cbp
*.1
*.xml
*.hld

build/
ScopeLoaderExample/cfg/data/1/
unitTestData/*
CalibrationFiles/*
LargeBarrelAnalysis/*.txt
!LargeBarrelAnalysis/CMakeLists.txt
ScopeLoaderExample/cfg/
